@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

h2 {
    font-family: 'Lobster';
    font-size: 60px;
    font-weight: 'Bold';
    color: #5FAB03;
}

h3 {
    font-family: 'Lobster';
    font-size: 60px;
    font-weight: 'Bold';
    color: white;
}

body {
	font-family: 'Patua One';
    font-size: 16px;
    line-height: 1.4;
	color: black;
	font-weight:200;
}

.dropdown {
    z-index:2;
    position:absolute;
}


.greentext {
    color: #5FAB03;
}

.footertext {
    line-height: 200%;
    font-family: 'Open Sans Condensed';
    font-weight: thin;
    padding:3em;
}

.footerlogo {
    position: absolute;
    float:left;
    margin-left: 900px;
    padding:3em;
}

.disclaimer {
    font-family: 'Open Sans Condensed';
}
.logo {
    position: absolute;
    float: left;
    margin-top:50px;
}
.indextext {
    color:white;
    line-height: 2;
}
.pindex {
    font-family: 'Patua One';
    font-size: 16px;
    line-height: 1.9;
	color: black;
	font-weight:200;
    line-height: 3;
    margin-left: 50px;
    float:left;
}

.decal {
    position: relative;
    float: right;
    margin-right: 150px;
    margin-top: 120px;
}
.wrapper {
     width: 900px;
     margin: auto;
     margin-top: 150px;
     min-height: 300px;
 }

 .famenu {
     color:white;
     padding-left: 5px;
 }

 .fa {
     color: #5FAB03;
     padding: 5px;
 }

.button {
    background-color: #5FAB03; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald';
}

.buttonstyle {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald';
}

.buttonstyle:hover {
    text-decoration: underline;
}

.wrapper2 {
    width: 100%;
    height: 600px;
    background: #808285; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#808285, #4A4B4C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#808285, #4A4B4C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#808285, #4A4B4C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#808285, #4A4B4C); /* Standard syntax */
    float: left;
}

.wrapper3 {
     width: 900px;
     margin: auto;
     margin-top: 50px;
     min-height: 300px;
 }

.wrapper4 {
    width: 500px;
    flex-basis: calc(25% - 30px);
    min-height: 800px;
    background: white;
    position:absolute;
    z-index:2;
    transform: translate(90%, 10%);
    padding-left: 20px;

}

.contactimage {
    width:100%;
    position:relative;
}
.home-left {
  width: 60%;
  float: left;
}

.home-right {
    width: 40%;
    height: 100%;
    margin-top:50px;
    float: left;
    position: relative;
}

footer {
  min-height: 200px;
  float: left;
  width: 100%;
  background-color: darkgrey;
  text-align: left;
  background: black;
  color: white;
}

.footerbutton {
    font-family: 'Oswald';
    color: white;
    font-weight: Thin;
    text-decoration: none;
}

.footerbutton:hover {
    font-family: 'Oswald';
    color: #5FAB03;
    font-weight: Thin;
    text-decoration: underline;
}

/* PORTFOLIO */

.portfolio-container {
    width: 900px;
    margin: 0 auto;
    min-height: 200px;
    background: white;

}
.portfolio-items {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.portfolio-item {
    flex-basis: calc(25% - 30px);
    height: 200px;
    margin: 10px;
    border:2px solid black;
}
