.hero-text-port {
    text-align: right;
    position: absolute;
    font-family: 'Helvetica';
    font-weight: 'Bold';
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.team {
    position: absolute;
    margin-left: 600px;
}

.aboutekst {
    width:60%;
}
