.hero-text-port {
    position: absolute;
    font-family: 'Helvetica';
    font-weight: 'Bold';
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.team {
    position: absolute;
    margin-left: 600px;
}

.headerport {
    position: relative;
    width:100%;
}

.portfolio-container {
    width: 900px;
    margin: 0 auto;
    min-height: 200px;
    background: white;

}
.portfolio-items {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.portfolio-item {
    flex-basis: calc(25% - 30px);
    height: 200px;
    margin: 10px;
    border:2px solid black;
}

.portfolio-item-detail {
    flex-basis: calc(25% - 30px);
    height: 200px;
    margin: 10px;
    border:5px solid #5FAB03;
}